<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ThereforeWS0001_SoapUserPassword">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="ThereforeWS0001_SoapWinCredentials">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://therefore-server-name:8000/theservice/v0001/soapun"
                binding="basicHttpBinding" bindingConfiguration="ThereforeWS0001_SoapUserPassword"
                contract="ServiceRef_Update_it.IThereforeService" name="ThereforeWS0001_SoapUserPassword" />
            <endpoint address="http://therefore-server-name:8000/theservice/v0001/soapwin"
                binding="basicHttpBinding" bindingConfiguration="ThereforeWS0001_SoapWinCredentials"
                contract="ServiceRef_Update_it.IThereforeService" name="ThereforeWS0001_SoapWinCredentials" />
        </client>
    </system.serviceModel>
</configuration>