<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OldClient_Net20.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OldClient_Net20.Properties.Settings>
            <setting name="OldClient_Net20_ServiceRef_Update_it__ThereforeService"
                serializeAs="String">
                <value>http://therefore-server-name:8000/theservice/v0001/soapun</value>
            </setting>
        </OldClient_Net20.Properties.Settings>
    </applicationSettings>
</configuration>